/* style.css */

/* @font-face {
    font-family: "Sinkin Sans";
    src: url(https://www.fontsquirrel.com/fonts/sinkin-sans);
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,400;1,500&display=swap');

img {
    height: 500px;
    width: auto;
}

* {
    color:rgb(55, 70, 47);
    font-family: "Roboto Mono";
    font-weight: 400;
}

h1, h2 {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    background-color: rgb(168, 182, 159);
    color: white;
}

a {
    color: rgb(7, 138, 131);
}

.container{
    width: 1000px;
    margin: 0 auto;
   
}